.clearfix:before, .header--top:before, .stats:before,
.clearfix:after,
.header--top:after,
.stats:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, .header--top:after, .stats:after {
  clear: both; }

.clearfix, .header--top, .stats {
  *zoom: 1; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

* {
  box-sizing: border-box; }

body {
  background-color: green; }

.l-main, .l-main--header {
  position: relative;
  max-width: 1100px; }

.l-main--header {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 16px; }
  @media (min-width: 960px) {
    .l-main--header {
      min-height: 180px; } }

.l-nav {
  position: relative; }

.l-overview {
  position: relative;
  width: calc(100% - 24px);
  margin: 0 auto; }
  @media (min-width: 960px) {
    .l-overview {
      position: absolute;
      top: -120px;
      width: calc(33.333% - 24px);
      margin: 0 16px 0 8px; } }

.l-container {
  position: relative;
  width: calc(100% - 24px);
  margin: 0 auto; }
  @media (min-width: 960px) {
    .l-container {
      width: 66.666%;
      margin-left: calc(33.333% + 24px);
      margin-right: 8px; } }

.l-wrapper {
  position: relative;
  margin: 0 16px; }

.mdl-grid {
  padding: 0; }

body,
p {
  font-family: Roboto, Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 12px; }

h1 {
  margin-top: 0;
  margin-bottom: 0.25em;
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.3em;
  letter-spacing: 0.25px;
  color: #4F4C4D; }

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5em;
  color: #4F4C4D; }

h2.subtitle {
  margin-bottom: 1em;
  font-size: 1.125em;
  font-weight: 400;
  color: #BDBBBC; }

a {
  color: #09AFF8;
  text-decoration: none; }

.material-icons {
  font-size: 1em; }

.form--search {
  display: none;
  position: relative;
  border-bottom: 1px solid #fff;
  margin: 16px;
  width: 66.666%; }
  .form--search.is-visible {
    display: block; }
  @media (min-width: 960px) {
    .form--search {
      display: block;
      width: calc(33.333% - 16px);
      margin: 0; } }

.form--search__reveal {
  display: block;
  margin: 16px;
  height: 20px;
  width: 20px;
  background: #fff url("/svg/ic_search_24px.svg") center center no-repeat;
  border: 1px solid #99dffc;
  border-radius: 10px;
  background-size: 15px 15px; }
  .form--search__reveal.is-hidden {
    display: none; }
  @media (min-width: 960px) {
    .form--search__reveal {
      display: none; } }

.form__search {
  font-size: 1.5em;
  font-weight: 100;
  border: 0;
  background: transparent;
  color: #fff;
  padding: 8px;
  outline: 0; }
  .form__search:-moz-placeholder {
    color: rgba(255, 255, 255, 0.6); }
  .form__search::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6); }
  .form__search:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6); }
  .form__search::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6); }

.form__submit {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 10px;
  font-size: 0;
  box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.5);
  border: 1px solid #99dffc;
  background: #fff url("/svg/ic_search_24px.svg") center center no-repeat;
  background-size: 15px 15px; }
  .form__submit:hover {
    cursor: pointer;
    border: 1px solid #fff; }

.bar-chart {
  margin: 20px 0; }

.bar-chart__options {
  float: right;
  padding: 0;
  color: #918F8F;
  font-weight: 100;
  font-size: 1em; }

.card {
  clear: both;
  margin-bottom: 16px; }

.card__content {
  clear: both;
  border: 1px solid #E7E6E6;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 24px; }

.header--top {
  position: relative;
  background-color: #09AFF8;
  margin-bottom: 1em; }
  @media (min-width: 960px) {
    .header--top {
      min-height: 180px;
      margin: 0;
      padding-top: 1em; } }

.header--tools {
  position: relative; }

.nav--quick-actions {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin-right: 16px;
  color: #fff; }
  @media (min-width: 960px) {
    .nav--quick-actions {
      margin-top: 8px;
      margin-right: 0; } }

a.nav--quick-actions__item {
  color: #fff;
  font-size: 1.5em;
  margin-left: 0.5em; }

.nav--main {
  height: 48px;
  overflow: hidden; }
  @media (min-width: 960px) {
    .nav--main {
      position: absolute;
      bottom: 0;
      left: calc(33.333% + 16px);
      width: calc(66.666% - 16px); } }

.nav--main__wrapper {
  padding-right: 80px; }

.tabs, .tabs--more {
  margin: 0;
  border: none;
  padding: 0 16px;
  float: left;
  position: relative;
  display: block;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #99dffc;
  overflow: hidden;
  transition: all 0.25s ease-in-out; }
  .tabs:hover, .tabs--more:hover {
    color: #fff; }
  .tabs.active, .active.tabs--more {
    color: #fff;
    border-bottom: 4px solid #0988CA; }

.tabs--more {
  position: absolute;
  top: 0;
  right: 0; }

.stats {
  margin: 1.25em 0; }

.stat {
  float: left;
  width: 25%;
  text-align: center; }

.stat__large {
  display: block;
  font-size: 1.5em;
  margin-bottom: 0.25em;
  color: #4F4C4D; }

.stat__small {
  font-size: 0.9em;
  color: #BDBBBC; }

.link--block {
  display: block;
  margin: 0.5em 0; }

.link--back {
  display: none; }
  @media (min-width: 1280px) {
    .link--back {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      margin: 16px;
      color: #BDBBBC;
      text-transform: uppercase;
      font-weight: 300; } }

.link--left {
  float: left; }

.link--right {
  float: right; }

.visits {
  padding: 20px 0; }
  .visits path.area {
    fill: #e9f7fe; }
  .visits .line {
    fill: none;
    stroke: #09AFF8;
    stroke-width: 2px; }
  .visits .x-axis .domain,
  .visits .x-axis .tick line {
    display: none; }
  .visits .grid .tick line {
    stroke: #E7E6E6;
    stroke-width: 1px;
    shape-rendering: crispEdges; }
  .visits .grid path {
    stroke-width: 0; }
  .visits text {
    font-size: 1.15em;
    font-weight: 100;
    fill: #BDBBBC; }

.map {
  margin: 20px 0; }
  .map .counties {
    fill: none; }
  .map .states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round; }
  .map .q0-9 {
    fill: #cceffd; }
  .map .q1-9 {
    fill: #cbeffd; }
  .map .q2-9 {
    fill: #99dffc; }
  .map .q3-9 {
    fill: #97defc; }
  .map .q4-9 {
    fill: #66cffa; }
  .map .q5-9 {
    fill: #66cffa; }
  .map .q6-9 {
    fill: #34bff9; }
  .map .q7-9 {
    fill: #3bbff9; }
  .map .q8-9 {
    fill: #09AFF8; }
