.clearfix:before, .stats:before,
.clearfix:after,
.stats:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, .stats:after {
  clear: both; }

.clearfix, .stats {
  *zoom: 1; }

* {
  box-sizing: border-box; }

body {
  background-color: green; }

.l-main {
  position: relative; }

.l-nav {
  position: relative; }

.l-overview {
  position: relative;
  width: calc(100% - 24px);
  margin: 0 auto; }
  @media (min-width: 960px) {
    .l-overview {
      position: absolute;
      top: -120px;
      width: calc(33.333% - 16px);
      margin: 0 16px; } }

.l-container {
  position: relative;
  width: 100%;
  margin: 0 16px; }
  @media (min-width: 960px) {
    .l-container {
      width: 66.666%;
      margin-left: calc(33.333% + 16px);
      margin-right: 0; } }

.l-wrapper {
  position: relative;
  margin: 0 16px; }

.mdl-grid {
  padding-right: 0; }

body,
p {
  font-family: Roboto, Helvetica, "Helvetica Neue", Arial, sans-serif; }

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2em;
  font-weight: 100;
  line-height: 1.5em;
  color: #4F4C4D; }

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25em;
  font-weight: 100;
  line-height: 1.25em;
  color: #4F4C4D; }

h2.subtitle {
  margin-bottom: 1em;
  font-size: 1.125em;
  font-weight: 100;
  color: #918F8F; }

a {
  color: #09AFF8;
  text-decoration: none; }

.card {
  margin-bottom: 16px; }

.card__content {
  border: 1px solid #E7E6E6;
  box-shadow: 0 0 2px 2px #E7E6E6;
  background-color: #fff;
  padding: 24px; }

.header--top {
  background-color: #09AFF8; }
  @media (min-width: 840px) {
    .header--top {
      min-height: 180px;
      padding-top: 1em; } }

@media (min-width: 960px) {
  .nav--quick-actions {
    position: absolute;
    top: 0;
    right: 0; } }

.nav--main {
  height: 48px;
  overflow: hidden; }
  @media (min-width: 960px) {
    .nav--main {
      position: absolute;
      bottom: 0;
      left: calc(33.333% + 16px);
      width: calc(66.666% - 16px); } }

.nav--main__wrapper {
  padding-right: 80px; }

.tabs, .tabs--more {
  margin: 0;
  border: none;
  padding: 0 16px;
  float: left;
  position: relative;
  display: block;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #99dffc;
  overflow: hidden;
  transition: all 0.25s ease-in-out; }
  .tabs:hover, .tabs--more:hover {
    color: #fff; }
  .tabs.active, .active.tabs--more {
    color: #fff;
    border-bottom: 4px solid #0988CA; }

.tabs--more {
  position: absolute;
  top: 0;
  right: 0; }

.stats {
  margin: 1em 0; }

.stat {
  float: left;
  width: 25%;
  text-align: center; }

.stat__large {
  display: block;
  font-size: 1.5em;
  margin-bottom: 0.25em;
  color: #4F4C4D; }

.stat__small {
  font-size: 0.85em;
  color: #918F8F; }

.link--block {
  display: block;
  margin: 0.5em 0; }

.link--left {
  float: left; }

.link--right {
  float: right; }
