.nav--quick-actions {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  
  margin-right: $gutter * 2;
  color: $white;

  @include respond-to('bp3') {
    margin-top: $gutter;
    margin-right: 0;
  }
}

a.nav--quick-actions__item {
  color: $white;
  font-size: 1.5em;
  margin-left: 0.5em;
}

.nav--main {
  height: 48px;
  overflow: hidden;

  @include respond-to('bp3') {
    position: absolute;
    bottom: 0;
    left: calc(33.333% + 16px);
    width: calc(66.666% - 16px);
  }
}

.nav--main__wrapper {
  padding-right: 80px;
}
