.stats {
  @extend .clearfix;
  margin: 1.25em 0;
}

.stat {
  float: left;
  width: 25%;
  text-align: center;
}

.stat__large {
  display: block;
  font-size: 1.5em;
  margin-bottom: 0.25em;
  color: $black;
}

.stat__small {
  font-size: 0.9em;
  color: $black-60;
}
