// Styles for forms
.form--search {
  display: none;
  position: relative;
  border-bottom: 1px solid $white;
  margin: 16px;
  width: 66.666%;

  &.is-visible {
    display: block;
  }

  @include respond-to('bp3') {
    display: block;
    width: calc(33.333% - 16px);
    margin: 0;
  }
}

.form--search__reveal {
  display: block;
  margin: $gutter * 2;
  height: 20px;
  width: 20px;
  background: $white url('/svg/ic_search_24px.svg') center center no-repeat;
  border: 1px solid $primary-40;
  border-radius: 10px;
  background-size: 15px 15px;

  &.is-hidden {
    display: none;
  }

  @include respond-to('bp3') {
    display: none;
  }
}

.form__search {
  font-size: 1.5em;
  font-weight: 100;
  border: 0;
  background: transparent;
  color: $white;
  padding: $gutter;
  outline: 0;

  &:-moz-placeholder {
    color: rgba($white, 0.6);
  }
  &::-moz-placeholder {
    color: rgba($white, 0.6);
  }
  &:-ms-input-placeholder {
    color: rgba($white, 0.6);
  }
  &::-webkit-input-placeholder {
    color: rgba($white, 0.6);
  }
}


.form__submit {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 10px;
  font-size: 0;
  box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.5);
  border: 1px solid $primary-40;
  background: $white url('/svg/ic_search_24px.svg') center center no-repeat;
  background-size: 15px 15px;
  // transition: all 0.25s ease-in-out;

  &:hover {
    cursor: pointer;
    // box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7);
    border: 1px solid $white;
  }
}
