// Colors
$primary: #09AFF8;
$primary-80: #34bff9;
$primary-60: #66cffa;
$primary-40: #99dffc;
$primary-20: #cceffd;

$black: #000;

$gray: #E7E6E6;

$white: #fff;

// Breakpoints
$breakpoints: (
  'bp0': 480px,
  'bp1': 600px,
  'bp2': 840px,
  'bp3': 960px,
  'bp4': 1280px,
  'bp5': 1440px,
  'bp6': 1600px,
) !default;

// Default values
$gutter: 8px;

// Reset styles
* {
  box-sizing: border-box;
}

body {
  background-color: green;
}
