// Layout styles
.l-main {
  position: relative;
  max-width: $max-width;
}

.l-main--header {
  @extend .l-main;

  margin: 0 auto;
  max-width: calc(1100px - 48px);

  @include respond-to('bp3') {
    min-height: 180px;
  }
}

.l-nav {
  position: relative;
}

.l-overview {
  position: relative;
  width: calc(100% - #{$gutter * 3});
  margin: 0 auto;

  @include respond-to('bp3') {
    position: absolute;
    top: -120px;
    width: calc(33.333% - 24px);
    margin: 0 $gutter * 2;
  }
}

.l-container {
  position: relative;
  width: 100%;
  margin: 0 $gutter * 2;

  @include respond-to('bp3') {
    width: 66.666%;
    margin-left: calc(33.333% + 24px);
    margin-right: 0;
  }
}

.l-wrapper {
  position: relative;
  margin: 0 $gutter * 2;
}

.mdl-grid {
  padding-right: 0;
}
